In [1]:
import pandas as pd
from sqlalchemy import create_engine

## 1. Store Greenhouse csv file into DataFrame

In [2]:
csv_file = "Resources/greenhouse_gas_inventory_data_data.csv"
greenhouse_df = pd.read_csv(csv_file)
greenhouse_df.head()

,country_or_area,year,value,category
0,Australia,2014,393126.946994,carbon_dioxide_co2_emissions_without_land_use_...
1,Australia,2013,396913.936530,carbon_dioxide_co2_emissions_without_land_use_...
2,Australia,2012,406462.847704,carbon_dioxide_co2_emissions_without_land_use_...
3,Australia,2011,403705.528314,carbon_dioxide_co2_emissions_without_land_use_...
4,Australia,2010,406200.993184,carbon_dioxide_co2_emissions_without_land_use_...

### Drop Category column

In [7]:
greenhouse_df.drop(['category'], axis = 1, inplace = True)  
greenhouse_df

KeyError: "['category'] not found in axis"

### Rename Columns

In [4]:
greenhouse_df.rename(columns={"country_or_area": "Country", "year": "Year",  "value": "CO2_emisions"})

                       Country  Year   CO2_emisions
0                    Australia  2014  393126.946994
1                    Australia  2013  396913.936530
2                    Australia  2012  406462.847704
3                    Australia  2011  403705.528314
4                    Australia  2010  406200.993184
...                        ...   ...            ...
8401  United States of America  1994     593.222570
8402  United States of America  1993     586.939752
8403  United States of America  1992     574.414624
8404  United States of America  1991     566.900968
8405  United States of America  1990     293.205663

[8406 rows x 3 columns]

## 2. Population csv file into df

In [6]:
csv_file = "Resources/pop_worldometer_data.csv"
pop_world_df = pd.read_csv(csv_file)
pop_world_df.head(50)

,Country (or dependency),Population (2020),Yearly Change %,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share %
0,China,1439323776,0.39,5540090,153.0,9388211.0,-348399.0,1.7,38.0,61.0,18.47
1,India,1380004385,0.99,13586631,464.0,2973190.0,-532687.0,2.2,28.0,35.0,17.70
2,United States,331002651,0.59,1937734,36.0,9147420.0,954806.0,1.8,38.0,83.0,4.25
3,Indonesia,273523615,1.07,2898047,151.0,1811570.0,-98955.0,2.3,30.0,56.0,3.51
4,Pakistan,220892340,2.00,4327022,287.0,770880.0,-233379.0,3.6,23.0,35.0,2.83
5,Brazil,212559417,0.72,1509890,25.0,8358140.0,21200.0,1.7,33.0,88.0,2.73
6,Nigeria,206139589,2.58,5175990,226.0,910770.0,-60000.0,5.4,18.0,52.0,2.64
7,Bangladesh,164689383,1.01,1643222,1265.0,130170.0,-369501.0,2.1,28.0,39.0,2.11
8,Russia,145934462,0.04,62206,9.0,16376870.0,182456.0,1.8,40.0,74.0,1.87
9,Mexico,128932753,1.06,1357224,66.0,1943950.0,-60000.0,2.1,29.0,84.0,1.65
10,Japan,126476461,NaN,-383840,347.0,364555.0,71560.0,1.4,48.0,92.0,1.62
11,Ethiopia,114963588,2.57,2884858,115.0,1000000.0,30000.0,4.3,19.0,21.0,1.47
12,Philippines,109581078,1.35,1464463,368.0,298170.0,-67152.0,2.6,26.0,47.0,1.41
13,Egypt,102334404,1.94,1946331,103.0,995450.0,-38033.0,3.3,25.0,43.0,1.31
14,Vietnam,97338579,0.91,876473,314.0,310070.0,-80000.0,2.1,32.0,38.0,1.25
15,DR Congo,89561403,3.19,2770836,40.0,2267050.0,23861.0,6.0,17.0,46.0,1.15
16,Turkey,84339067,1.09,909452,110.0,769630.0,283922.0,2.1,32.0,76.0,1.08
17,Iran,83992949,1.30,1079043,52.0,1628550.0,-55000.0,2.2,32.0,76.0,1.08
18,Germany,83783942,0.32,266897,240.0,348560.0,543822.0,1.6,46.0,76.0,1.07
19,Thailand,69799978,0.25,174396,137.0,510890.0,19444.0,1.5,40.0,51.0,0.90
20,United Kingdom,67886011,0.53,355839,281.0,241930.0,260650.0,1.8,40.0,83.0,0.87
21,France,65273511,0.22,143783,119.0,547557.0,36527.0,1.9,42.0,82.0,0.84
22,Italy,60461826,NaN,-88249,206.0,294140.0,148943.0,1.3,47.0,69.0,0.78
23,Tanzania,59734218,2.98,1728755,67.0,885800.0,-40076.0,4.9,18.0,37.0,0.77
24,South Africa,59308690,1.28,750420,49.0,1213090.0,145405.0,2.4,28.0,67.0,0.76
25,Myanmar,54409800,0.67,364380,83.0,653290.0,-163313.0,2.2,29.0,31.0,0.70
26,Kenya,53771296,2.28,1197323,94.0,569140.0,-10000.0,3.5,20.0,28.0,0.69
27,South Korea,51269185,0.09,43877,527.0,97230.0,11731.0,1.1,44.0,82.0,0.66
28,Colombia,50882891,1.08,543448,46.0,1109500.0,204796.0,1.8,31.0,80.0,0.65
29,Spain,46754778,0.04,18002,94.0,498800.0,40000.0,1.3,45.0,80.0,0.60
30,Uganda,45741007,3.32,1471413,229.0,199810.0,168694.0,5.0,17.0,26.0,0.59
31,Argentina,45195774,0.93,415097,17.0,2736690.0,4800.0,2.3,32.0,93.0,0.58
32,Algeria,43851044,1.85,797990,18.0,2381740.0,-10000.0,3.1,29.0,73.0,0.56
33,Sudan,43849260,2.42,1036022,25.0,1765048.0,-50000.0,4.4,20.0,35.0,0.56
34,Ukraine,43733762,NaN,-259876,75.0,579320.0,10000.0,1.4,41.0,69.0,0.56
35,Iraq,40222493,2.32,912710,93.0,434320.0,7834.0,3.7,21.0,73.0,0.52
36,Afghanistan,38928346,2.33,886592,60.0,652860.0,-62920.0,4.6,18.0,25.0,0.50
37,Poland,37846611,NaN,-41157,124.0,306230.0,-29395.0,1.4,42.0,60.0,0.49
38,Canada,37742154,0.89,331107,4.0,9093510.0,242032.0,1.5,41.0,81.0,0.48
39,Morocco,36910560,1.20,438791,83.0,446300.0,-51419.0,2.4,30.0,64.0,0.47
40,Saudi Arabia,34813871,1.59,545343,16.0,2149690.0,134979.0,2.3,32.0,84.0,0.45
41,Uzbekistan,33469203,1.48,487487,79.0,425400.0,-8863.0,2.4,28.0,50.0,0.43
42,Peru,32971854,1.42,461401,26.0,1280000.0,99069.0,2.3,31.0,79.0,0.42
43,Angola,32866272,3.27,1040977,26.0,1246700.0,6413.0,5.6,17.0,67.0,0.42
44,Malaysia,32365999,1.30,416222,99.0,328550.0,50000.0,2.0,30.0,78.0,0.42
45,Mozambique,31255435,2.93,889399,40.0,786380.0,-5000.0,4.9,18.0,38.0,0.40
46,Ghana,31072940,2.15,655084,137.0,227540.0,-10000.0,3.9,22.0,57.0,0.40
47,Yemen,29825964,2.28,664042,56.0,527970.0,-30000.0,3.8,20.0,38.0,0.38
48,Nepal,29136808,1.85,528098,203.0,143350.0,41710.0,1.9,25.0,21.0,0.37
49,Venezuela,28435940,NaN,-79889,32.0,882050.0,-653249.0,2.3,30.0,NaN,0.36